body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.layout-header {
  background-color: lightblue;
  height: 60px;
  width: 100%;
  text-align: center;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  font-size: 29px;
  font-weight: bold;
  font-family: cursive;
}

.layout-body {
  width: 100%;
  background-color: lightcoral;
  min-height: calc(100vh - 101px);
}

.layout-footer {
  background-color: lightblue;
  height: 40px;
  width: 100%;
  text-align: center;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  font-size: 29px;
  font-weight: bold;
  font-family: cursive;
}
